/* screen - choose-your-gender-1 */

.choose-your-gender-1 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 812px;
  overflow: hidden;
  width: 375px;
}

.choose-your-gender-1 .volunteer-application {
  letter-spacing: 0;
  line-height: 44px;
  margin-top: 26px;
  min-width: 219px;
  text-align: center;
  white-space: nowrap;
}

.choose-your-gender-1 .what-is-your-sexual-orientation {
  letter-spacing: 0;
  line-height: 44px;
  margin-left: 2.0px;
  margin-top: 76px;
  min-height: 88px;
  min-width: 341px;
  text-align: center;
}

.choose-your-gender-1 .overlap-group-container-1 {
  align-items: flex-start;
  display: flex;
  gap: 45px;
  margin-right: 6.0px;
  margin-top: 40px;
  min-width: 319px;
}

.choose-your-gender-1 .overlap-group {
  height: 58px;
  position: relative;
  width: 137px;
}

.choose-your-gender-1 .rectangle-153 {
  background-color: var(--malachite-2);
  height: 58px;
  left: 0;
  position: absolute;
  top: 0;
  width: 135px;
}

.choose-your-gender-1 .heterosexual-straight {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 7px;
  width: 137px;
}

.choose-your-gender-1 .overlap-group1 {
  align-items: flex-start;
  background-color: var(--alto);
  display: flex;
  height: 58px;
  justify-content: flex-end;
  min-width: 137px;
  padding: 6px 10px;
}

.choose-your-gender-1 .gay-lesbian {
  letter-spacing: 0;
  line-height: 44px;
  min-width: 116px;
  text-align: center;
  white-space: nowrap;
}

.choose-your-gender-1 .overlap-group-container {
  align-items: flex-start;
  display: flex;
  gap: 45px;
  margin-right: 6.0px;
  margin-top: 27px;
  min-width: 319px;
}

.choose-your-gender-1 .overlap-group5 {
  align-items: flex-start;
  background-color: var(--alto);
  display: flex;
  height: 58px;
  min-width: 137px;
  padding: 6px 33px;
}

.choose-your-gender-1 .asexual {
  letter-spacing: 0;
  line-height: 44px;
  min-width: 71px;
  text-align: center;
  white-space: nowrap;
}

.choose-your-gender-1 .overlap-group6 {
  align-items: flex-start;
  background-color: var(--alto);
  display: flex;
  height: 58px;
  min-width: 137px;
  padding: 6px 31px;
}

.choose-your-gender-1 .bisexual {
  letter-spacing: 0;
  line-height: 44px;
  min-width: 75px;
  text-align: center;
  white-space: nowrap;
}

.choose-your-gender-1 .overlap-group2 {
  align-items: flex-start;
  background-color: var(--alto);
  display: flex;
  height: 58px;
  justify-content: flex-end;
  min-width: 137px;
  padding: 6px 26px;
}

.choose-your-gender-1 .pansexual {
  letter-spacing: 0;
  line-height: 44px;
  min-width: 83px;
  text-align: center;
  white-space: nowrap;
}

.choose-your-gender-1 .overlap-group4 {
  align-items: flex-start;
  background-color: var(--alto);
  display: flex;
  height: 58px;
  justify-content: flex-end;
  min-width: 137px;
  padding: 6px 43px;
}

.choose-your-gender-1 .queer {
  letter-spacing: 0;
  line-height: 44px;
  min-width: 49px;
  text-align: center;
  white-space: nowrap;
}

.choose-your-gender-1 .overlap-group7 {
  height: 73px;
  margin-right: 8.0px;
  margin-top: 28px;
  position: relative;
  width: 241px;
}

.choose-your-gender-1 .rectangle-159 {
  background-color: var(--alto);
  height: 68px;
  left: 45px;
  position: absolute;
  top: 0;
  width: 152px;
}

.choose-your-gender-1 .otherprefer-not-to-say {
  left: 0;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 7px;
  width: 241px;
}

.choose-your-gender-1 .group-container {
  align-items: flex-start;
  display: flex;
  gap: 217px;
  margin-left: 2.0px;
  margin-top: 19px;
  min-width: 341px;
}

.choose-your-gender-1 .group-188 {
  align-items: flex-start;
  background-color: var(--black);
  border-radius: 31px;
  cursor: pointer;
  display: flex;
  height: 62px;
  justify-content: flex-end;
  min-width: 62px;
  padding: 18.6px;
}

.choose-your-gender-1 .arrowright-md {
  height: 25px;
  width: 25px;
}

.choose-your-gender-1 .overlap-group3 {
  border-radius: 31px;
  height: 62px;
  position: relative;
  width: 62px;
}

.choose-your-gender-1 .arrowright-md-1 {
  left: 1px;
  position: absolute;
  top: 19px;
}

.choose-your-gender-1 .group-175 {
  align-items: center;
  background-color: var(--black);
  border-radius: 31px;
  display: flex;
  height: 62px;
  left: 0;
  min-width: 62px;
  padding: 0 19px;
  position: absolute;
  top: 0;
}

.choose-your-gender-1 .rectangle-26 {
  border: 1px solid;
  border-color: var(--black);
  height: 1px;
  margin-top: 149px;
  width: 375px;
}

.choose-your-gender-1 .arrowright-md-3 {
  height: 24px;
  width: 24px;
}
