/* screen - how-many-hours-do-you-sleep-4 */

.how-many-hours-do-you-sleep-4 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 812px;
  padding: 26px 16px;
  width: 375px;
}

.how-many-hours-do-you-sleep-4 .volunteer-application {
  letter-spacing: 0;
  line-height: 44px;
  min-width: 219px;
  text-align: center;
  white-space: nowrap;
}

.how-many-hours-do-you-sleep-4 .what-is-your-title {
  letter-spacing: 0;
  line-height: 44px;
  margin-left: 9.0px;
  margin-top: 67px;
  min-height: 132px;
  min-width: 314px;
  text-align: center;
}

.how-many-hours-do-you-sleep-4 .rectangle-156 {
  background-color: var(--white);
  border: 1px solid;
  border-color: var(--gray-2);
  border-radius: 6px;
  height: 64px;
  margin-right: 4.0px;
  margin-top: 92px;
  width: 273px;
}

.how-many-hours-do-you-sleep-4 .group-container {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  gap: 217px;
  margin-top: 197px;
  min-width: 341px;
}

.how-many-hours-do-you-sleep-4 .group-188 {
  align-items: flex-start;
  background-color: var(--black);
  border-radius: 31px;
  cursor: pointer;
  display: flex;
  height: 62px;
  min-width: 62px;
  padding: 18.6px;
}

.how-many-hours-do-you-sleep-4 .group-175 {
  align-items: center;
  background-color: var(--black);
  border-radius: 31px;
  cursor: pointer;
  display: flex;
  height: 62px;
  min-width: 62px;
  padding: 0 19px;
}

.how-many-hours-do-you-sleep-4 .arrowright-md-1 {
  height: 24px;
  width: 24px;
}
