/* screen - frame-57 */

.frame-57 {
  align-items: flex-start;
  display: flex;
  min-width: 375px;
}

.frame-57 .detail-page {
  background-color: #ffffff;
  height: 812px;
  position: relative;
  width: 375px;
}

.frame-57 .your-appointments {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-weight: 500;
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 112px;
}

.frame-57 .number {
  color: var(--malachite);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-weight: 500;
  left: 20px;
  letter-spacing: 0;
  line-height: 60px;
  position: absolute;
  top: 160px;
  white-space: nowrap;
}

.frame-57 .sessions-are-schedul {
  color: #959595;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 500;
  left: 68px;
  letter-spacing: 0;
  line-height: 13px;
  position: absolute;
  top: 183px;
}

.frame-57 .frame-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 46px;
  left: 20px;
  min-height: 482px;
  position: absolute;
  top: 240px;
  width: 335px;
}

.frame-57 .frame {
  align-items: center;
  background-color: var(--cultured-pearl);
  display: flex;
  gap: 97px;
  height: 130px;
  padding: 10px;
  position: relative;
  width: 335px;
}

.frame-57 .group-201-1 {
  height: 70px;
  position: relative;
  width: 163px;
}

.frame-57 .frame-53 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  left: 0;
  position: absolute;
  top: 0;
}

.frame-57 .frame-1 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.frame-57 .name {
  letter-spacing: 0;
  line-height: 15px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.frame-57 .group-200-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  left: 0;
  min-height: 50px;
  position: absolute;
  top: 20px;
  width: 163px;
}

.frame-57 .frame-4 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.frame-57 .view-screening-results {
  letter-spacing: -0.28px;
  line-height: 15px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.frame-57 .day-november-1 {
  letter-spacing: -0.28px;
  line-height: 15px;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.frame-57 .group-201 {
  height: 70px;
  position: relative;
  width: 157px;
}

.frame-57 .group-200 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  left: 0;
  min-height: 50px;
  position: absolute;
  top: 20px;
  width: 157px;
}

.frame-57 .group-189 {
  align-items: flex-end;
  background-color: var(--black);
  border-radius: 31px;
  cursor: pointer;
  display: flex;
  height: 62px;
  left: 21px;
  min-width: 62px;
  padding: 18.6px 18.6px;
  position: absolute;
  top: 35px;
}

.frame-57 .arrowright-md {
  height: 25px;
  width: 25px;
}
