/* screen - welcome-screen */

.welcome-screen {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 17px;
  height: 812px;
  padding: 32px 11px;
  width: 375px;
}

.welcome-screen .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 14px;
  min-height: 653px;
  width: 351px;
}

.welcome-screen .overlap-group {
  height: 204px;
  margin-left: 12.0px;
  position: relative;
  width: 289px;
}

.welcome-screen .image-1 {
  height: 174px;
  left: 55px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 172px;
}

.welcome-screen .title {
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 165px;
}

.welcome-screen .this-program-aims-to {
  height: 220px;
  letter-spacing: 0;
  line-height: 22px;
  margin-top: 32px;
  min-width: 351px;
}

.welcome-screen .looking-for-support {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 14.0px;
  margin-top: 40px;
  min-height: 18px;
  min-width: 123px;
}

.welcome-screen .frame-24 {
  align-items: center;
  background-color: var(--malachite);
  cursor: pointer;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-right: 4.0px;
  margin-top: 7px;
  padding: 15px 10px;
  position: relative;
  width: 335px;
}

.welcome-screen .are-you-volunteering {
  letter-spacing: 0;
  line-height: normal;
  margin-left: 15.0px;
  margin-top: 5px;
  min-height: 18px;
  min-width: 132px;
}

.welcome-screen .frame-24-1 {
  align-items: center;
  background-color: var(--seashell);
  cursor: pointer;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-left: 4.0px;
  margin-top: 7px;
  padding: 15px 10px;
  position: relative;
  width: 335px;
}

.welcome-screen .volunteer-registration {
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  width: fit-content;
}

.welcome-screen .flex-row {
  align-items: flex-start;
  align-self: center;
  display: flex;
  gap: 103px;
  height: 64px;
  margin-left: 1.0px;
  min-width: 320px;
}

.welcome-screen .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-height: 43px;
  width: 155px;
}

.welcome-screen .already-have-an-account {
  letter-spacing: 0;
  line-height: normal;
  min-height: 15px;
}

.welcome-screen .sign-in {
  letter-spacing: 0;
  line-height: normal;
  min-height: 22px;
}

.welcome-screen .group-175 {
  align-items: center;
  align-self: flex-end;
  background-color: var(--black);
  border-radius: 31px;
  cursor: pointer;
  display: flex;
  height: 62px;
  min-width: 62px;
  padding: 0 19px;
}

.welcome-screen .arrowright-md {
  height: 24px;
  width: 24px;
}
