/* screen - home-screen */

.home-screen {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 812px;
  width: 375px;
}

.home-screen .group-164 {
  align-items: center;
  display: flex;
  gap: 155px;
  margin-left: 2.0px;
  margin-top: 67px;
  min-width: 337px;
}

.home-screen .hello-john-doe {
  color: transparent;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxl);
  font-weight: 500;
  height: 62px;
  letter-spacing: -0.28px;
  line-height: 32px;
  min-width: 131px;
}

.home-screen .span0 {
  color: #b9b9b9;
}

.home-screen .span1 {
  color: var(--black);
  font-size: 28px;
}

.home-screen .ellipse-87 {
  height: 49px;
  margin-bottom: 1.0px;
  object-fit: cover;
  width: 49px;
}

.home-screen .overlap-group2 {
  height: 533px;
  margin-left: 1.0px;
  position: relative;
  width: 360px;
}

.home-screen .group-191 {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  left: 12px;
  min-height: 426px;
  position: absolute;
  top: 107px;
  width: 335px;
}

.home-screen .overlap-group1 {
  align-items: center;
  background-color: var(--white);
  border-radius: 20px;
  display: flex;
  height: 40px;
  min-width: 40px;
  padding: 0 10px;
}

.home-screen .interfacebookmark {
  height: 20px;
  width: 20px;
}

.home-screen .group-container {
  align-self: flex-start;
  height: 82px;
  margin-top: 281px;
  position: relative;
  width: 322px;
}

.home-screen .group-165 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 72px;
  position: absolute;
  top: 10px;
  width: 322px;
}

.home-screen .name {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 400;
  height: 32px;
  letter-spacing: 2.00px;
  line-height: 32px;
  white-space: nowrap;
}

.home-screen .the-first-step-towar {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-weight: 500;
  height: 40px;
  letter-spacing: -0.28px;
  line-height: 20px;
}

.home-screen .group-172 {
  cursor: pointer;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 230px;
}

.home-screen .interfacelove {
  height: 20px;
  margin-top: 3px;
  width: 20px;
}

.home-screen .image-7 {
  height: 360px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 360px;
}

.home-screen .group-192 {
  align-items: center;
  background-color: #f7f7f7;
  display: flex;
  height: 98px;
  margin-top: 52px;
  min-width: 375px;
  padding: 15px 40px;
}

.home-screen .place {
  color: var(--malachite);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-weight: 500;
  height: 15px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 7.0px;
  min-width: 30px;
}

.home-screen .group-169 {
  align-items: flex-end;
  align-self: flex-start;
  cursor: pointer;
  display: flex;
  height: 45px;
  margin-left: 30px;
  min-width: 45px;
}

.home-screen .account {
  height: 15px;
  letter-spacing: 0;
  line-height: normal;
  min-width: 43px;
}

.home-screen .appointments {
  height: 15px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 28px;
  margin-top: 7.0px;
  min-width: 72px;
}

.home-screen .who-we-are {
  height: 15px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 21px;
  margin-top: 7.0px;
  min-width: 60px;
}
