/* screen - karen-view */

.karen-view {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 812px;
  padding: 35px 17px;
  width: 375px;
}

.karen-view .overlap-group2 {
  height: 598px;
  position: relative;
  width: 335px;
}

.karen-view .name {
  left: 10px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 87px;
}

.karen-view .overlap-group1 {
  height: 579px;
  left: 0;
  position: absolute;
  top: 19px;
  width: 335px;
}

.karen-view .frame-41 {
  align-items: center;
  background-color: var(--cultured-pearl);
  display: flex;
  gap: 97px;
  height: 477px;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 102px;
  width: 335px;
}

.karen-view .group-201 {
  height: 451px;
  position: relative;
  width: 304px;
}

.karen-view .group-200 {
  height: 451px;
  position: relative;
  width: 306px;
}

.karen-view .clinical-social-work {
  left: 0;
  letter-spacing: -0.28px;
  line-height: 15px;
  position: absolute;
  top: -1px;
  width: 311px;
}

.karen-view .overlap-group {
  align-items: flex-start;
  background-color: var(--malachite);
  display: flex;
  height: 48px;
  left: 91px;
  min-width: 122px;
  padding: 8px 0;
  position: absolute;
  top: 380px;
}

.karen-view .confirm-appointment {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 15px;
  min-height: 21px;
  text-align: center;
  width: 122px;
}

.karen-view .image-2 {
  height: 147px;
  left: 217px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 118px;
}

.karen-view .group-189 {
  align-items: flex-start;
  background-color: var(--black);
  border-radius: 31px;
  display: flex;
  height: 62px;
  left: 4px;
  min-width: 62px;
  padding: 18.6px 18.6px;
  position: absolute;
  top: 0;
}
