/* screen - choose-your-gender-2 */

.choose-your-gender-2 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 812px;
  overflow: hidden;
  width: 375px;
}

.choose-your-gender-2 .volunteer-application {
  letter-spacing: 0;
  line-height: 44px;
  margin-top: 26px;
  min-width: 219px;
  text-align: center;
  white-space: nowrap;
}

.choose-your-gender-2 .title {
  letter-spacing: 0;
  line-height: 44px;
  margin-left: 7.0px;
  margin-top: 38px;
  min-width: 318px;
  text-align: center;
  white-space: nowrap;
}

.choose-your-gender-2 .group-213 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-right: -34px;
  margin-top: 170px;
  min-height: 266px;
  width: 383px;
}

.choose-your-gender-2 .flex-row {
  align-items: flex-end;
  display: flex;
  gap: 21px;
  height: 163px;
  min-width: 329px;
}

.choose-your-gender-2 .overlap-group-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 27px;
  min-height: 162px;
  width: 154px;
}

.choose-your-gender-2 .overlap-group {
  height: 67px;
  position: relative;
  width: 154px;
}

.choose-your-gender-2 .rectangle-153 {
  background-color: var(--malachite);
  height: 67px;
  left: 0;
  position: absolute;
  top: 0;
  width: 152px;
}

.choose-your-gender-2 .american-indian-or-alaska-native {
  left: 0;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 8px;
  width: 154px;
}

.choose-your-gender-2 .overlap-group4 {
  align-items: center;
  background-color: var(--alto);
  display: flex;
  height: 68px;
  justify-content: flex-end;
  min-width: 152px;
  padding: 0 10px;
}

.choose-your-gender-2 .surname {
  letter-spacing: 0;
  line-height: 25px;
  min-height: 50px;
  min-width: 131px;
  text-align: center;
}

.choose-your-gender-2 .overlap-group-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 27px;
  min-height: 163px;
  width: 154px;
}

.choose-your-gender-2 .overlap-group2 {
  align-items: center;
  background-color: var(--alto);
  display: flex;
  height: 68px;
  min-width: 152px;
  padding: 0 50px;
}

.choose-your-gender-2 .overlap-group3 {
  height: 68px;
  position: relative;
  width: 154px;
}

.choose-your-gender-2 .rectangle-15 {
  background-color: var(--alto);
  height: 68px;
  left: 0;
  position: absolute;
  top: 0;
  width: 152px;
}

.choose-your-gender-2 .native-hawaiian-or-pacific-islander {
  left: 7px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 9px;
}

.choose-your-gender-2 .overlap-group1 {
  height: 76px;
  position: relative;
  width: 373px;
}

.choose-your-gender-2 .rectangle-157 {
  background-color: var(--alto);
  height: 68px;
  left: 175px;
  position: absolute;
  top: 0;
  width: 152px;
}

.choose-your-gender-2 .otherprefer-not-to-say {
  left: 132px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 241px;
}

.choose-your-gender-2 .color {
  left: 52px;
  letter-spacing: 0;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: 10px;
  white-space: nowrap;
}

.choose-your-gender-2 .group-container {
  align-items: flex-start;
  display: flex;
  gap: 217px;
  margin-left: 2.0px;
  margin-top: 34px;
  min-width: 341px;
}

.choose-your-gender-2 .group-188 {
  align-items: flex-start;
  background-color: var(--black);
  border-radius: 31px;
  cursor: pointer;
  display: flex;
  height: 62px;
  justify-content: flex-end;
  min-width: 62px;
  padding: 18.6px;
}

.choose-your-gender-2 .group-175 {
  align-items: center;
  background-color: var(--black);
  border-radius: 31px;
  cursor: pointer;
  display: flex;
  height: 62px;
  min-width: 62px;
  padding: 0 19px;
}

.choose-your-gender-2 .arrowright-md-1 {
  height: 24px;
  width: 24px;
}

.choose-your-gender-2 .rectangle-26 {
  border: 1px solid;
  border-color: var(--black);
  height: 1px;
  margin-top: 149px;
  width: 375px;
}
