/* screen - christina-view */

.christina-view {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 812px;
  padding: 35px 17px;
  width: 375px;
}

.christina-view .overlap-group2 {
  height: 593px;
  position: relative;
  width: 335px;
}

.christina-view .overlap-group1 {
  height: 574px;
  left: 0;
  position: absolute;
  top: 19px;
  width: 335px;
}

.christina-view .frame-41 {
  align-items: center;
  background-color: var(--cultured-pearl);
  display: flex;
  gap: 97px;
  height: 472px;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 102px;
  width: 335px;
}

.christina-view .group-201 {
  height: 427.5px;
  position: relative;
  width: 304px;
}

.christina-view .group-200 {
  height: 428px;
  position: relative;
  width: 306px;
}

.christina-view .psychologist-availab {
  left: 0;
  letter-spacing: -0.28px;
  line-height: 15px;
  position: absolute;
  top: 0;
  width: 311px;
}

.christina-view .overlap-group {
  align-items: flex-start;
  background-color: var(--malachite);
  display: flex;
  height: 48px;
  left: 91px;
  min-width: 122px;
  padding: 6.6px 0;
  position: absolute;
  top: 370px;
}

.christina-view .confirm-appointment {
  cursor: pointer;
  letter-spacing: 0;
  line-height: 15px;
  min-height: 21px;
  text-align: center;
  width: 122px;
}

.christina-view .image-4 {
  height: 147px;
  left: 217px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 118px;
}

.christina-view .group-189 {
  align-items: flex-start;
  background-color: var(--black);
  border-radius: 31px;
  display: flex;
  height: 62px;
  left: 4px;
  min-width: 62px;
  padding: 18.6px 18.6px;
  position: absolute;
  top: 0;
}
