:root { 
  --alto: #d9d9d980;
  --black: #000000;
  --gray: #808080;
 
  --font-size-l: 16px;
  --font-size-m: 14px;
  --font-size-xl: 18px;
  --font-size-xxl: 20px;
  --font-size-xxxl: 34px;
 
  --font-family-poppins: "Poppins", Helvetica;
}
.poppins-medium-gray-14px {
  color: var(--gray);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}
