/* screen - client-race */

.client-race {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 812px;
  overflow: hidden;
  width: 375px;
}

.client-race .client-application {
  letter-spacing: 0;
  line-height: 44px;
  margin-left: 3.0px;
  margin-top: 30px;
  min-width: 180px;
  text-align: center;
  white-space: nowrap;
}

.client-race .title {
  letter-spacing: 0;
  line-height: 44px;
  margin-left: 7.0px;
  margin-top: 66px;
  min-width: 318px;
  text-align: center;
  white-space: nowrap;
}

.client-race .select-all-that-apply {
  letter-spacing: 0;
  line-height: 25px;
  margin-right: 1.0px;
  margin-top: 17px;
  min-height: 30px;
  text-align: center;
  white-space: nowrap;
  width: 306px;
}

.client-race .group-213 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-right: -34px;
  margin-top: 91px;
  min-height: 266px;
  width: 383px;
}

.client-race .flex-row {
  align-items: flex-end;
  display: flex;
  gap: 21px;
  height: 163px;
  min-width: 329px;
}

.client-race .overlap-group-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 27px;
  min-height: 162px;
  width: 154px;
}

.client-race .overlap-group {
  height: 67px;
  position: relative;
  width: 154px;
}

.client-race .rectangle-153 {
  background-color: var(--malachite-2);
  height: 67px;
  left: 0;
  position: absolute;
  top: 0;
  width: 152px;
}

.client-race .american-indian-or-alaska-native {
  left: 0;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 8px;
  width: 154px;
}

.client-race .overlap-group1 {
  align-items: center;
  background-color: var(--alto);
  display: flex;
  height: 68px;
  justify-content: flex-end;
  min-width: 152px;
  padding: 0 10px;
}

.client-race .surname {
  letter-spacing: 0;
  line-height: 25px;
  min-height: 50px;
  min-width: 131px;
  text-align: center;
}

.client-race .overlap-group-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 27px;
  min-height: 163px;
  width: 154px;
}

.client-race .overlap-group2 {
  align-items: center;
  background-color: var(--alto);
  display: flex;
  height: 68px;
  min-width: 152px;
  padding: 0 50px;
}

.client-race .asian {
  letter-spacing: 0;
  line-height: 44px;
  min-width: 51px;
  text-align: center;
  white-space: nowrap;
}

.client-race .overlap-group4 {
  height: 68px;
  position: relative;
  width: 154px;
}

.client-race .native-hawaiian-or-pacific-islander {
  left: 7px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 9px;
}

.client-race .overlap-group3 {
  height: 76px;
  position: relative;
  width: 373px;
}

.client-race .rectangle-157 {
  background-color: var(--alto);
  height: 68px;
  left: 175px;
  position: absolute;
  top: 0;
  width: 152px;
}

.client-race .otherprefer-not-to-say {
  left: 132px;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 241px;
}

.client-race .color {
  left: 52px;
  letter-spacing: 0;
  line-height: 44px;
  position: absolute;
  text-align: center;
  top: 10px;
  white-space: nowrap;
}

.client-race .group-227 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  gap: 217px;
  margin-left: 2.0px;
  margin-top: 34px;
  min-width: 341px;
}

.client-race .group-188 {
  align-items: flex-start;
  background-color: var(--black);
  border-radius: 31px;
  cursor: pointer;
  display: flex;
  height: 62px;
  justify-content: flex-end;
  min-width: 62px;
  padding: 18.6px 18.6px;
}

.client-race .arrowright-md {
  height: 25px;
  width: 25px;
}

.client-race .group-175 {
  align-items: center;
  background-color: var(--black);
  border-radius: 31px;
  display: flex;
  height: 62px;
  min-width: 62px;
  padding: 0 19px;
}

.client-race .arrowright-md-1 {
  height: 24px;
  width: 24px;
}

.client-race .rectangle-26 {
  border: 1px solid;
  border-color: var(--black);
  height: 1px;
  margin-top: 149px;
  width: 375px;
}
