/* screen - client-language */

.client-language {
  align-items: flex-end;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 812px;
  overflow: hidden;
  width: 375px;
}

.client-language .flex-col {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-right: -9px;
  margin-top: 30px;
  min-height: 221px;
  width: 389px;
}

.client-language .client-application {
  letter-spacing: 0;
  line-height: 44px;
  margin-right: 1.0px;
  min-width: 180px;
  text-align: center;
  white-space: nowrap;
}

.client-language .what-languages-are {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25px;
  margin-top: 28px;
  min-height: 100px;
  text-align: center;
  width: 389px;
}

.client-language .select-all-that-apply {
  letter-spacing: 0;
  line-height: 25px;
  margin-left: 5.0px;
  margin-top: 19px;
  min-height: 30px;
  text-align: center;
  white-space: nowrap;
  width: 306px;
}

.client-language .flex-row {
  align-items: flex-end;
  align-self: center;
  display: flex;
  gap: 20px;
  margin-left: 4.0px;
  margin-top: 66px;
  min-width: 329px;
}

.client-language .overlap-group-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-height: 149px;
  width: 156px;
}

.client-language .overlap-group {
  height: 76px;
  position: relative;
  width: 154px;
}

.client-language .rectangle-153 {
  background-color: var(--malachite-2);
  height: 67px;
  left: 0;
  position: absolute;
  top: 0;
  width: 152px;
}

.client-language .language {
  left: 0;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 17px;
  width: 154px;
}

.client-language .overlap-group4 {
  align-items: flex-start;
  background-color: var(--alto);
  display: flex;
  height: 68px;
  margin-left: 2px;
  min-width: 152px;
  padding: 17px 12px;
}

.client-language .language-1 {
  color: var(--gray);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxl);
  font-weight: 500;
  line-height: 25px;
  min-width: 122px;
  white-space: nowrap;
}

.client-language .overlap-group1 {
  height: 150px;
  position: relative;
  width: 153px;
}

.client-language .language-2 {
  left: 15px;
  line-height: 25px;
  position: absolute;
  top: 17px;
  width: 123px;
}

.client-language .rectangle-155 {
  background-color: var(--alto);
  height: 68px;
  left: 1px;
  position: absolute;
  top: 82px;
  width: 152px;
}

.client-language .language-3 {
  left: 25px;
  line-height: 25px;
  position: absolute;
  top: 100px;
  white-space: nowrap;
}

.client-language .flex-col-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  min-height: 343px;
  width: 375px;
}

.client-language .overlap-group-container-1 {
  align-items: flex-start;
  display: flex;
  gap: 23px;
  margin-left: 6.0px;
  min-width: 327px;
}

.client-language .overlap-group3 {
  align-items: flex-start;
  background-color: var(--alto);
  display: flex;
  height: 68px;
  min-width: 152px;
  padding: 11px 35px;
}

.client-language .language-4 {
  line-height: 44px;
  min-width: 80px;
  white-space: nowrap;
}

.client-language .overlap-group2 {
  align-items: flex-start;
  background-color: var(--alto);
  display: flex;
  height: 68px;
  min-width: 152px;
  padding: 11px 42px;
}

.client-language .other {
  letter-spacing: 0;
  line-height: 44px;
  min-width: 68px;
  text-align: center;
  white-space: nowrap;
}

.client-language .group-227 {
  align-items: flex-start;
  display: flex;
  gap: 217px;
  margin-left: 2.0px;
  margin-top: 63px;
  min-width: 341px;
}

.client-language .group-188 {
  align-items: flex-start;
  background-color: var(--black);
  border-radius: 31px;
  cursor: pointer;
  display: flex;
  height: 62px;
  min-width: 62px;
  padding: 18.6px 18.6px;
}

.client-language .arrowright-md {
  height: 25px;
  width: 25px;
}

.client-language .group-175 {
  align-items: center;
  background-color: var(--black);
  border-radius: 31px;
  cursor: pointer;
  display: flex;
  height: 62px;
  min-width: 62px;
  padding: 0 19px;
}

.client-language .arrowright-md-1 {
  height: 24px;
  width: 24px;
}

.client-language .rectangle-26 {
  border: 1px solid;
  border-color: var(--black);
  height: 1px;
  margin-top: 149px;
  width: 375px;
}

.client-language .rectangle-158 {
  height: 68px;
  margin-right: -1471px;
  margin-top: 1088px;
  width: 152px;
}

.client-language .language-5 {
  letter-spacing: 0;
  text-align: center;
}
