/* screen - scott-view */

.scott-view {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 812px;
  padding: 35px 17px;
  width: 375px;
}

.scott-view .overlap-group1 {
  height: 594px;
  position: relative;
  width: 335px;
}

.scott-view .overlap-group {
  height: 575px;
  left: 0;
  position: absolute;
  top: 19px;
  width: 335px;
}

.scott-view .frame-41 {
  align-items: center;
  background-color: var(--cultured-pearl);
  display: flex;
  gap: 97px;
  height: 473px;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 102px;
  width: 335px;
}

.scott-view .group-201 {
  height: 434.5px;
  position: relative;
  width: 304px;
}

.scott-view .group-200 {
  align-items: flex-start;
  display: flex;
  height: 434px;
  min-width: 304px;
}

.scott-view .frame-49 {
  align-items: flex-start;
  display: inline-flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  margin-top: -1.25px;
  position: relative;
}

.scott-view .frame-47 {
  align-items: flex-start;
  display: inline-flex;
  gap: 10px;
  height: 437px;
  justify-content: center;
  position: relative;
}

.scott-view .retired-psychiatrist {
  letter-spacing: -0.28px;
  line-height: 15px;
  margin-top: -1.00px;
  position: relative;
  width: 311px;
}

.scott-view .image-5 {
  height: 147px;
  left: 217px;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 118px;
}

.scott-view .rectangle-154 {
  background-color: var(--malachite);
  height: 48px;
  left: 101px;
  position: absolute;
  top: 495px;
  width: 122px;
}

.scott-view .confirm-appointment {
  cursor: pointer;
  left: 101px;
  letter-spacing: 0;
  line-height: 15px;
  position: absolute;
  text-align: center;
  top: 500px;
  width: 122px;
}

.scott-view .group-189 {
  align-items: flex-start;
  background-color: var(--black);
  border-radius: 31px;
  display: flex;
  height: 62px;
  left: 4px;
  min-width: 62px;
  padding: 18.6px 18.6px;
  position: absolute;
  top: 0;
}
