/* screen - update-availability */

.update-availability {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 5px;
  height: 812px;
  overflow: hidden;
  padding: 9px 0;
  width: 377px;
}

.update-availability .flex-row {
  align-items: flex-start;
  display: flex;
  gap: 18px;
  height: 65px;
  margin-left: 6px;
  min-width: 291px;
}

.update-availability .group-188 {
  align-items: flex-end;
  background-color: var(--black);
  border-radius: 31px;
  cursor: pointer;
  display: flex;
  height: 62px;
  min-width: 62px;
  padding: 18.6px 18.6px;
}

.update-availability .flex-col {
  align-items: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  gap: 9px;
  min-height: 58px;
  width: 211px;
}

.update-availability .update-availability-1 {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxl);
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  min-height: 33px;
  min-width: 211px;
}

.update-availability .x124-to-1210 {
  letter-spacing: 0;
  line-height: 16px;
  margin-right: 5.0px;
  min-width: 118px;
  white-space: nowrap;
}

.update-availability .group-container {
  align-items: center;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin-right: -29px;
  min-height: 701px;
  width: 411px;
}

.update-availability .group-225 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-height: 631px;
  padding: 0 5px;
  width: 411px;
}

.update-availability .line-19 {
  height: 2px;
  margin-top: -1px;
  width: 370px;
}

.update-availability .flex-row-1 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  gap: 12px;
  margin-right: 5px;
  min-width: 386px;
}

.update-availability .overlap-group-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 625px;
  width: 42px;
}

.update-availability .address-container {
  background-color: var(--gallery);
  height: 35px;
  position: relative;
  width: 42px;
}

.update-availability .address {
  left: 6px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 10px;
  white-space: nowrap;
  width: 31px;
}

.update-availability .overlap-group15 {
  height: 36px;
  margin-top: 6px;
  position: relative;
  width: 42px;
}

.update-availability .address-19 {
  left: 4px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 6px;
  width: 34px;
}

.update-availability .address-20 {
  left: 4px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 0;
  width: 34px;
}

.update-availability .rectangle-160 {
  background-color: var(--gallery);
  height: 36px;
  left: 0;
  top: 0;
}

.update-availability .address-21 {
  left: 6px;
  letter-spacing: 0;
  line-height: 16px;
  position: absolute;
  top: 11px;
  white-space: nowrap;
  width: 31px;
}

.update-availability .overlap-group {
  align-items: flex-end;
  background-color: var(--gallery);
  display: flex;
  height: 35px;
  justify-content: flex-end;
  margin-top: 7px;
  min-width: 42px;
  padding: 9px 3px;
}

.update-availability .address-1 {
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
  width: 35px;
}

.update-availability .overlap-group10 {
  align-items: center;
  background-color: var(--gallery);
  display: flex;
  height: 34px;
  justify-content: flex-end;
  margin-top: 7px;
  min-width: 42px;
  padding: 0 3px;
}

.update-availability .overlap-group-1 {
  align-items: flex-start;
  background-color: var(--gallery);
  display: flex;
  height: 35px;
  justify-content: flex-end;
  margin-top: 8px;
  min-width: 42px;
  padding: 9px 0;
}

.update-availability .overlap-group12 {
  height: 97px;
  margin-right: 1px;
  position: relative;
  width: 364px;
}

.update-availability .address-2 {
  letter-spacing: 0;
  line-height: 16px;
  white-space: nowrap;
}

.update-availability .overlap-group-2 {
  align-items: flex-end;
  background-color: var(--gallery);
  display: flex;
  height: 35px;
  justify-content: flex-end;
  margin-top: 7px;
  min-width: 42px;
  padding: 9px 0;
}

.update-availability .overlap-group-3 {
  align-items: flex-end;
  background-color: var(--gallery);
  display: flex;
  height: 37px;
  justify-content: flex-end;
  margin-top: 6px;
  min-width: 42px;
  padding: 9px 0;
}

.update-availability .overlap-group8 {
  align-items: flex-start;
  background-color: var(--gallery);
  display: flex;
  height: 35px;
  justify-content: flex-end;
  margin-top: 6px;
  min-width: 42px;
  padding: 9px 0;
}

.update-availability .overlap-group3 {
  align-items: center;
  background-color: var(--gallery);
  display: flex;
  height: 34px;
  justify-content: flex-end;
  margin-top: 7px;
  min-width: 42px;
}

.update-availability .overlap-group13 {
  align-items: flex-start;
  background-color: var(--gallery);
  display: flex;
  height: 35px;
  justify-content: flex-end;
  margin-top: 9px;
  min-width: 42px;
  padding: 9px 0;
}

.update-availability .overlap-group9 {
  align-items: flex-start;
  background-color: var(--gallery);
  display: flex;
  height: 37px;
  justify-content: flex-end;
  margin-top: 6px;
  min-width: 42px;
  padding: 10px 0;
}

.update-availability .overlap-group6 {
  align-items: flex-start;
  background-color: var(--gallery);
  display: flex;
  height: 35px;
  justify-content: flex-end;
  margin-top: 6px;
  min-width: 42px;
  padding: 9px 2px;
}

.update-availability .overlap-group1 {
  height: 625px;
  position: relative;
  width: 332px;
}

.update-availability .slightly-smiling-face {
  height: 31px;
  left: 108px;
  position: absolute;
  top: 454px;
  width: 20px;
}

.update-availability .rectangle-174 {
  background-color: var(--malachite);
  height: 35px;
  left: 0;
  top: 0;
}

.update-availability .rectangle-175 {
  background-color: var(--malachite);
  height: 35px;
  left: 0;
  top: 84px;
}

.update-availability .rectangle-176 {
  background-color: var(--malachite);
  height: 36px;
  left: 0;
  top: 41px;
}

.update-availability .rectangle-177 {
  background-color: var(--gallery);
  height: 34px;
  left: 0;
  top: 126px;
}

.update-availability .rectangle-178 {
  background-color: var(--gallery);
  height: 35px;
  left: 0;
  top: 210px;
}

.update-availability .rectangle-179 {
  background-color: var(--gallery);
  height: 35px;
  left: 0;
  top: 167px;
}

.update-availability .rectangle-180 {
  background-color: var(--gallery);
  height: 35px;
  left: 0;
  top: 252px;
}

.update-availability .rectangle-181 {
  background-color: var(--gallery);
  height: 35px;
  left: 0;
  top: 336px;
}

.update-availability .rectangle-182 {
  background-color: var(--gallery);
  height: 37px;
  left: 0;
  top: 293px;
}

.update-availability .rectangle-183 {
  background-color: var(--gallery);
  height: 34px;
  left: 0;
  top: 378px;
}

.update-availability .rectangle-184 {
  background-color: var(--malachite);
  height: 35px;
  left: 0;
  top: 462px;
}

.update-availability .rectangle-185 {
  background-color: var(--gallery);
  height: 35px;
  left: 0;
  top: 419px;
}

.update-availability .rectangle-186 {
  background-color: var(--malachite);
  height: 35px;
  left: 0;
  top: 506px;
}

.update-availability .rectangle-187 {
  background-color: var(--malachite);
  height: 35px;
  left: 0;
  top: 590px;
}

.update-availability .rectangle-188 {
  background-color: var(--malachite);
  height: 37px;
  left: 0;
  top: 547px;
}

.update-availability .rectangle-189 {
  background-color: var(--malachite);
  height: 35px;
  left: 54px;
  top: 0;
}

.update-availability .rectangle-190 {
  background-color: var(--malachite);
  height: 35px;
  left: 54px;
  top: 84px;
}

.update-availability .rectangle-191 {
  background-color: var(--malachite);
  height: 36px;
  left: 54px;
  top: 41px;
}

.update-availability .rectangle-192 {
  background-color: var(--malachite);
  height: 34px;
  left: 54px;
  top: 126px;
}

.update-availability .rectangle-193 {
  background-color: var(--malachite);
  height: 35px;
  left: 54px;
  top: 210px;
}

.update-availability .rectangle-194 {
  background-color: var(--malachite);
  height: 35px;
  left: 54px;
  top: 167px;
}

.update-availability .rectangle-195 {
  background-color: var(--malachite);
  height: 35px;
  left: 54px;
  top: 252px;
}

.update-availability .rectangle-196 {
  background-color: var(--malachite);
  height: 35px;
  left: 54px;
  top: 336px;
}

.update-availability .rectangle-197 {
  background-color: var(--malachite);
  height: 37px;
  left: 54px;
  top: 293px;
}

.update-availability .rectangle-198 {
  background-color: var(--malachite);
  height: 34px;
  left: 54px;
  top: 378px;
}

.update-availability .rectangle-199 {
  background-color: var(--malachite);
  height: 35px;
  left: 54px;
  top: 462px;
}

.update-availability .rectangle-200 {
  background-color: var(--malachite);
  height: 35px;
  left: 54px;
  top: 419px;
}

.update-availability .rectangle-201 {
  background-color: var(--malachite);
  height: 35px;
  left: 54px;
  top: 506px;
}

.update-availability .rectangle-202 {
  background-color: var(--malachite);
  height: 35px;
  left: 54px;
  top: 590px;
}

.update-availability .rectangle-203 {
  background-color: var(--malachite);
  height: 37px;
  left: 54px;
  top: 547px;
}

.update-availability .rectangle-204 {
  background-color: var(--malachite);
  height: 35px;
  left: 104px;
  top: 0;
}

.update-availability .rectangle-205 {
  background-color: var(--gallery);
  height: 35px;
  left: 104px;
  top: 84px;
}

.update-availability .rectangle-206 {
  background-color: var(--gallery);
  height: 36px;
  left: 104px;
  top: 41px;
}

.update-availability .rectangle-207 {
  background-color: var(--gallery);
  height: 34px;
  left: 104px;
  top: 126px;
}

.update-availability .rectangle-208 {
  background-color: var(--malachite);
  height: 35px;
  left: 104px;
  top: 210px;
}

.update-availability .rectangle-209 {
  background-color: var(--gallery);
  height: 35px;
  left: 104px;
  top: 167px;
}

.update-availability .rectangle-210 {
  background-color: var(--malachite);
  height: 35px;
  left: 104px;
  top: 252px;
}

.update-availability .rectangle-211 {
  background-color: var(--malachite);
  height: 35px;
  left: 104px;
  top: 336px;
}

.update-availability .rectangle-212 {
  background-color: var(--malachite);
  height: 37px;
  left: 104px;
  top: 293px;
}

.update-availability .rectangle-213 {
  background-color: var(--malachite);
  height: 34px;
  left: 104px;
  top: 378px;
}

.update-availability .rectangle-214 {
  background-color: var(--gallery);
  height: 35px;
  left: 104px;
  top: 462px;
}

.update-availability .rectangle-215 {
  background-color: var(--gallery);
  height: 35px;
  left: 104px;
  top: 419px;
}

.update-availability .rectangle-216 {
  background-color: var(--gallery);
  height: 35px;
  left: 104px;
  top: 506px;
}

.update-availability .rectangle-217 {
  background-color: var(--malachite);
  height: 35px;
  left: 104px;
  top: 590px;
}

.update-availability .rectangle-218 {
  background-color: var(--gallery);
  height: 37px;
  left: 104px;
  top: 547px;
}

.update-availability .rectangle-219 {
  background-color: var(--malachite);
  height: 35px;
  left: 156px;
  top: 0;
}

.update-availability .rectangle-220 {
  background-color: var(--malachite);
  height: 35px;
  left: 156px;
  top: 84px;
}

.update-availability .rectangle-221 {
  background-color: var(--gallery);
  height: 36px;
  left: 156px;
  top: 41px;
}

.update-availability .rectangle-222 {
  background-color: var(--malachite);
  height: 34px;
  left: 156px;
  top: 126px;
}

.update-availability .rectangle-223 {
  background-color: var(--malachite);
  height: 35px;
  left: 156px;
  top: 210px;
}

.update-availability .rectangle-224 {
  background-color: var(--gallery);
  height: 35px;
  left: 156px;
  top: 167px;
}

.update-availability .rectangle-225 {
  background-color: var(--malachite);
  height: 35px;
  left: 156px;
  top: 252px;
}

.update-availability .rectangle-226 {
  background-color: var(--malachite);
  height: 35px;
  left: 156px;
  top: 336px;
}

.update-availability .rectangle-227 {
  background-color: var(--gallery);
  height: 37px;
  left: 156px;
  top: 293px;
}

.update-availability .rectangle-228 {
  background-color: var(--malachite);
  height: 34px;
  left: 156px;
  top: 378px;
}

.update-availability .rectangle-229 {
  background-color: var(--malachite);
  height: 35px;
  left: 156px;
  top: 462px;
}

.update-availability .rectangle-230 {
  background-color: var(--gallery);
  height: 35px;
  left: 156px;
  top: 419px;
}

.update-availability .rectangle-231 {
  background-color: var(--malachite);
  height: 35px;
  left: 156px;
  top: 506px;
}

.update-availability .rectangle-232 {
  background-color: var(--gallery);
  height: 35px;
  left: 156px;
  top: 590px;
}

.update-availability .rectangle-233 {
  background-color: var(--gallery);
  height: 37px;
  left: 156px;
  top: 547px;
}

.update-availability .rectangle-234 {
  background-color: var(--malachite);
  height: 35px;
  left: 207px;
  top: 0;
}

.update-availability .rectangle-235 {
  background-color: var(--malachite);
  height: 35px;
  left: 207px;
  top: 84px;
}

.update-availability .rectangle-236 {
  background-color: var(--gallery);
  height: 36px;
  left: 207px;
  top: 41px;
}

.update-availability .rectangle-237 {
  background-color: var(--malachite);
  height: 34px;
  left: 207px;
  top: 126px;
}

.update-availability .rectangle-238 {
  background-color: var(--malachite);
  height: 35px;
  left: 207px;
  top: 210px;
}

.update-availability .rectangle-239 {
  background-color: var(--gallery);
  height: 35px;
  left: 207px;
  top: 167px;
}

.update-availability .rectangle-240 {
  background-color: var(--malachite);
  height: 35px;
  left: 207px;
  top: 252px;
}

.update-availability .rectangle-241 {
  background-color: var(--gallery);
  height: 35px;
  left: 207px;
  top: 336px;
}

.update-availability .rectangle-242 {
  background-color: var(--gallery);
  height: 37px;
  left: 207px;
  top: 293px;
}

.update-availability .rectangle-243 {
  background-color: var(--malachite);
  height: 34px;
  left: 207px;
  top: 378px;
}

.update-availability .rectangle-244 {
  background-color: var(--malachite);
  height: 35px;
  left: 207px;
  top: 462px;
}

.update-availability .rectangle-245 {
  background-color: var(--gallery);
  height: 35px;
  left: 207px;
  top: 419px;
}

.update-availability .rectangle-246 {
  background-color: var(--malachite);
  height: 35px;
  left: 207px;
  top: 506px;
}

.update-availability .rectangle-247 {
  background-color: var(--malachite);
  height: 35px;
  left: 207px;
  top: 590px;
}

.update-availability .rectangle-248 {
  background-color: var(--gallery);
  height: 37px;
  left: 207px;
  top: 547px;
}

.update-availability .rectangle-249 {
  background-color: var(--malachite);
  height: 35px;
  left: 260px;
  top: 0;
}

.update-availability .rectangle-250 {
  background-color: var(--gallery);
  height: 35px;
  left: 260px;
  top: 84px;
}

.update-availability .rectangle-251 {
  background-color: var(--gallery);
  height: 36px;
  left: 260px;
  top: 41px;
}

.update-availability .rectangle-252 {
  background-color: var(--malachite);
  height: 34px;
  left: 260px;
  top: 126px;
}

.update-availability .rectangle-253 {
  background-color: var(--gallery);
  height: 35px;
  left: 260px;
  top: 210px;
}

.update-availability .rectangle-254 {
  background-color: var(--gallery);
  height: 35px;
  left: 260px;
  top: 167px;
}

.update-availability .rectangle-255 {
  background-color: var(--malachite);
  height: 35px;
  left: 260px;
  top: 252px;
}

.update-availability .rectangle-256 {
  background-color: var(--malachite);
  height: 35px;
  left: 260px;
  top: 336px;
}

.update-availability .rectangle-257 {
  background-color: var(--gallery);
  height: 37px;
  left: 260px;
  top: 293px;
}

.update-availability .rectangle-258 {
  background-color: var(--malachite);
  height: 34px;
  left: 260px;
  top: 378px;
}

.update-availability .rectangle-259 {
  background-color: var(--malachite);
  height: 35px;
  left: 260px;
  top: 462px;
}

.update-availability .rectangle-260 {
  background-color: var(--gallery);
  height: 35px;
  left: 260px;
  top: 419px;
}

.update-availability .rectangle-261 {
  background-color: var(--malachite);
  height: 35px;
  left: 260px;
  top: 506px;
}

.update-availability .rectangle-262 {
  background-color: var(--malachite);
  height: 35px;
  left: 260px;
  top: 590px;
}

.update-availability .rectangle-263 {
  background-color: var(--gallery);
  height: 37px;
  left: 260px;
  top: 547px;
}

.update-availability .group-208 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 4px;
  min-height: 605px;
  position: absolute;
  top: 10px;
  width: 69px;
}

.update-availability .address-3 {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 2px;
  min-height: 17px;
  white-space: nowrap;
}

.update-availability .address-4 {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 2px;
  margin-top: 25px;
  min-height: 17px;
  white-space: nowrap;
}

.update-availability .address-5 {
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 25px;
  white-space: nowrap;
}

.update-availability .address-6 {
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 27px;
  white-space: nowrap;
}

.update-availability .address-7 {
  letter-spacing: 0;
  line-height: 16px;
  margin-top: 24px;
  white-space: nowrap;
}

.update-availability .address-8 {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 4px;
  margin-top: 27px;
  white-space: nowrap;
}

.update-availability .address-9 {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 4px;
  margin-top: 26px;
  white-space: nowrap;
}

.update-availability .address-10 {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 2px;
  margin-top: 25px;
  white-space: nowrap;
}

.update-availability .address-11 {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 2px;
  margin-top: 26px;
  white-space: nowrap;
}

.update-availability .address-12 {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 2px;
  margin-top: 27px;
  white-space: nowrap;
}

.update-availability .address-13 {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 2px;
  margin-top: 24px;
  white-space: nowrap;
}

.update-availability .address-14 {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 3px;
  margin-top: 30px;
  white-space: nowrap;
}

.update-availability .group-209 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 57px;
  min-height: 605px;
  position: absolute;
  top: 10px;
  width: 69px;
}

.update-availability .group-210 {
  align-items: flex-start;
  display: flex;
  gap: 12px;
  height: 606px;
  left: 108px;
  min-width: 120px;
  position: absolute;
  top: 9px;
}

.update-availability .address-container-1 {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 605px;
  width: 39px;
}

.update-availability .group-209-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 605px;
  width: 69px;
}

.update-availability .address-22 {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 2px;
  white-space: nowrap;
}

.update-availability .address-23 {
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: 0;
  margin-top: 25px;
  min-height: 16px;
  white-space: nowrap;
}

.update-availability .address-24 {
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: 0;
  margin-top: 27px;
  min-height: 16px;
  white-space: nowrap;
}

.update-availability .address-15 {
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: 0;
  margin-top: 24px;
  min-height: 16px;
  white-space: nowrap;
}

.update-availability .address-25 {
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: 0;
  margin-left: 4px;
  margin-top: 27px;
  min-height: 16px;
  white-space: nowrap;
}

.update-availability .address-26 {
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: 0;
  margin-left: 4px;
  margin-top: 26px;
  min-height: 16px;
  white-space: nowrap;
}

.update-availability .address-27 {
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: 0;
  margin-left: 2px;
  margin-top: 25px;
  min-height: 16px;
  white-space: nowrap;
}

.update-availability .address-16 {
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: 0;
  margin-left: 2px;
  margin-top: 26px;
  min-height: 16px;
  white-space: nowrap;
}

.update-availability .address-17 {
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: 0;
  margin-left: 2px;
  margin-top: 27px;
  min-height: 16px;
  white-space: nowrap;
}

.update-availability .address-28 {
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: 0;
  margin-left: 2px;
  margin-top: 24px;
  min-height: 16px;
  white-space: nowrap;
}

.update-availability .address-29 {
  letter-spacing: 0;
  line-height: 16px;
  margin-bottom: 0;
  margin-left: 3px;
  margin-top: 30px;
  min-height: 16px;
  white-space: nowrap;
}

.update-availability .group-211 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 210px;
  min-height: 605px;
  position: absolute;
  top: 9px;
  width: 69px;
}

.update-availability .group-212 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 263px;
  min-height: 607px;
  padding: 0 0.0px;
  position: absolute;
  top: 8px;
  width: 69px;
}

.update-availability .address-30 {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 2.0px;
  min-height: 17px;
  white-space: nowrap;
}

.update-availability .address-31 {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 2.0px;
  margin-top: 25px;
  min-height: 17px;
  white-space: nowrap;
}

.update-availability .address-32 {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 4.0px;
  margin-top: 27px;
  white-space: nowrap;
}

.update-availability .address-33 {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 4.0px;
  margin-top: 26px;
  white-space: nowrap;
}

.update-availability .address-34 {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 2.0px;
  margin-top: 24px;
  white-space: nowrap;
}

.update-availability .address-35 {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 2.0px;
  margin-top: 26px;
  white-space: nowrap;
}

.update-availability .address-36 {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 2.0px;
  margin-top: 27px;
  white-space: nowrap;
}

.update-availability .address-37 {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 3.0px;
  margin-top: 24px;
  white-space: nowrap;
}

.update-availability .address-18 {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 3.0px;
  margin-top: 27px;
  white-space: nowrap;
}

.update-availability .address-38 {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 3.0px;
  margin-top: 29px;
  white-space: nowrap;
}

.update-availability .address-39 {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 2.0px;
  margin-top: 25px;
  white-space: nowrap;
}

.update-availability .group-226 {
  align-items: flex-start;
  display: flex;
  height: 24px;
  margin-right: 12.0px;
  margin-top: 12px;
  min-width: 333px;
}

.update-availability .m {
  color: var(--pink-swan);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-l);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 16px;
  min-height: 24px;
  width: 13px;
}

.update-availability .group-226-item {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 40px;
  min-height: 24px;
  width: 8px;
}

.update-availability .w {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 40px;
  min-height: 24px;
  width: 14px;
}

.update-availability .f {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 44px;
  min-height: 24px;
  width: 8px;
}

.update-availability .price {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 44px;
  min-height: 24px;
  width: 9px;
}

.update-availability .price-1 {
  letter-spacing: 0;
  line-height: 16px;
  margin-left: 42px;
  min-height: 24px;
  width: 9px;
}

.update-availability .group-176 {
  align-items: flex-start;
  cursor: pointer;
  display: flex;
  margin-right: 13.0px;
  min-width: 108px;
}

.update-availability .overlap-group16 {
  align-items: flex-start;
  background-color: #09d85fbf;
  display: flex;
  height: 34px;
  justify-content: flex-end;
  min-width: 106px;
  padding: 4.2px 18.8px;
}

.update-availability .submit {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25px;
  min-height: 24px;
  text-align: center;
  transform: rotate(0.03deg);
  white-space: nowrap;
  width: 68px;
}

.update-availability .rectangle {
  position: absolute;
  width: 42px;
}
