/* screen - choose-your-gender-5 */

.choose-your-gender-5 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 812px;
  overflow: hidden;
  width: 375px;
}

.choose-your-gender-5 .volunteer-application {
  letter-spacing: 0;
  line-height: 44px;
  margin-top: 26px;
  min-width: 219px;
  text-align: center;
  white-space: nowrap;
}

.choose-your-gender-5 .section-1-general-information {
  letter-spacing: 0;
  line-height: 44px;
  margin-left: 5.0px;
  margin-top: 38px;
  min-height: 88px;
  min-width: 346px;
  text-align: center;
}

.choose-your-gender-5 .well-use-your-answe {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 25px;
  margin-left: 5.0px;
  margin-top: 88px;
  min-height: 221px;
  text-align: center;
  width: 346px;
}

.choose-your-gender-5 .group-container {
  background-color: var(--cararra);
  height: 92px;
  margin-top: 104px;
  position: relative;
  width: 245px;
}

.choose-your-gender-5 .overlap-group {
  height: 92px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 163px;
}

.choose-your-gender-5 .rectangle-153 {
  background-color: var(--cararra);
  height: 70px;
  left: 26px;
  position: absolute;
  top: 0;
  width: 127px;
}

.choose-your-gender-5 .continue-to-general-information {
  left: 0;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 163px;
}

.choose-your-gender-5 .group-175 {
  align-items: center;
  background-color: var(--black);
  border-radius: 31px;
  cursor: pointer;
  display: flex;
  height: 62px;
  left: 154px;
  min-width: 62px;
  padding: 0 19px;
  position: absolute;
  top: 11px;
}

.choose-your-gender-5 .arrowright-md {
  height: 24px;
  width: 24px;
}

.choose-your-gender-5 .rectangle-26 {
  border: 1px solid;
  border-color: var(--black);
  height: 1px;
  margin-top: 132px;
  width: 375px;
}

.choose-your-gender-3 .continue-to-demographic-questions {
  left: 0;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 163px;
}
