/* screen - appointment-confirmed */

.appointment-confirmed {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 812px;
  padding: 106px 20px;
  width: 375px;
}

.appointment-confirmed .frame-41 {
  align-items: center;
  background-color: var(--cultured-pearl);
  display: flex;
  gap: 97px;
  height: 472px;
  padding: 10px;
  position: relative;
  width: 335px;
}

.appointment-confirmed .group-201 {
  width: 304px;
}

.appointment-confirmed .group-200 {
  width: 306px;
}

.appointment-confirmed .your-appointment-has {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  left: 0;
  letter-spacing: -0.28px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 311px;
}

.appointment-confirmed .span0 {
  font-weight: 500;
}

.appointment-confirmed .span1 {
  font-size: var(--font-size-l);
  font-weight: 500;
}

.appointment-confirmed .overlap-group {
  align-items: flex-start;
  background-color: var(--malachite);
  display: flex;
  height: 48px;
  left: 91px;
  min-width: 122px;
  padding: 6.6px 0;
  position: absolute;
  top: 370px;
}

.appointment-confirmed .back-to-home-page {
  letter-spacing: 0;
  line-height: 15px;
  min-height: 21px;
  text-align: center;
  width: 122px;
}

.appointment-confirmed .group {
  height: 425px;
  position: relative;
}
