/* screen - client-gender */

.client-gender {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 812px;
  overflow: hidden;
  width: 375px;
}

.client-gender .client-application {
  letter-spacing: 0;
  line-height: 44px;
  margin-left: 3.0px;
  margin-top: 30px;
  min-width: 180px;
  text-align: center;
  white-space: nowrap;
}

.client-gender .what-is-your-gender-identity {
  letter-spacing: 0;
  line-height: 44px;
  margin-left: 1.0px;
  margin-top: 72px;
  min-height: 88px;
  min-width: 354px;
  text-align: center;
}

.client-gender .overlap-group-container-1 {
  align-items: flex-start;
  display: flex;
  gap: 47px;
  margin-right: 6.0px;
  margin-top: 40px;
  min-width: 319px;
}

.client-gender .overlap-group {
  align-items: flex-end;
  background-color: var(--malachite-2);
  display: flex;
  height: 58px;
  justify-content: flex-end;
  min-width: 135px;
  padding: 7px 23px;
}

.client-gender .place {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 44px;
  min-height: 40px;
  text-align: center;
  white-space: nowrap;
  width: 86px;
}

.client-gender .overlap-group4 {
  align-items: flex-start;
  background-color: var(--alto);
  display: flex;
  height: 58px;
  justify-content: flex-end;
  min-width: 137px;
  padding: 6px 31px;
}

.client-gender .woman {
  letter-spacing: 0;
  line-height: 44px;
  min-width: 73px;
  text-align: center;
  white-space: nowrap;
}

.client-gender .overlap-group-container {
  align-items: flex-start;
  display: flex;
  gap: 45px;
  margin-right: 6.0px;
  margin-top: 27px;
  min-width: 319px;
}

.client-gender .overlap-group2 {
  align-items: flex-start;
  background-color: var(--alto);
  display: flex;
  height: 58px;
  min-width: 137px;
  padding: 6px 29px;
}

.client-gender .agender {
  letter-spacing: 0;
  line-height: 44px;
  min-width: 78px;
  text-align: center;
  white-space: nowrap;
}

.client-gender .overlap-group6 {
  align-items: flex-start;
  background-color: var(--alto);
  display: flex;
  height: 58px;
  min-width: 137px;
  padding: 6px 16px;
}

.client-gender .non-binary {
  letter-spacing: 0;
  line-height: 44px;
  min-width: 105px;
  text-align: center;
  white-space: nowrap;
}

.client-gender .overlap-group3 {
  align-items: flex-start;
  background-color: var(--alto);
  display: flex;
  height: 58px;
  justify-content: flex-end;
  min-width: 137px;
  padding: 6px 10px;
}

.client-gender .transfeminine {
  letter-spacing: 0;
  line-height: 44px;
  min-width: 116px;
  text-align: center;
  white-space: nowrap;
}

.client-gender .overlap-group5 {
  align-items: flex-start;
  background-color: var(--alto);
  display: flex;
  height: 58px;
  justify-content: flex-end;
  min-width: 137px;
  padding: 6px 3px;
}

.client-gender .transmasculine {
  letter-spacing: 0;
  line-height: 44px;
  min-width: 130px;
  text-align: center;
  white-space: nowrap;
}

.client-gender .overlap-group1 {
  height: 68px;
  margin-left: 23.0px;
  margin-top: 27px;
  position: relative;
  width: 220px;
}

.client-gender .rectangle-158 {
  background-color: var(--alto);
  height: 68px;
  left: 31px;
  position: absolute;
  top: 0;
  width: 152px;
}

.client-gender .otherprefer-not-to-say {
  left: 0;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 11px;
  width: 220px;
}

.client-gender .group-227 {
  align-items: flex-start;
  display: flex;
  gap: 217px;
  margin-left: 2.0px;
  margin-top: 25px;
  min-width: 341px;
}

.client-gender .group-188 {
  align-items: flex-start;
  background-color: var(--black);
  border-radius: 31px;
  cursor: pointer;
  display: flex;
  height: 62px;
  min-width: 62px;
  padding: 18.6px 18.6px;
}

.client-gender .arrowright-md {
  height: 25px;
  width: 25px;
}

.client-gender .group-175 {
  align-items: center;
  background-color: var(--black);
  border-radius: 31px;
  cursor: pointer;
  display: flex;
  height: 62px;
  min-width: 62px;
  padding: 0 19px;
}

.client-gender .arrowright-md-1 {
  height: 24px;
  width: 24px;
}

.client-gender .rectangle-26 {
  border: 1px solid;
  border-color: var(--black);
  height: 1px;
  margin-top: 149px;
  width: 375px;
}
