/* screen - volunteer-experience */

.volunteer-experience {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 812px;
  overflow: hidden;
  width: 375px;
}

.volunteer-experience .volunteer-application {
  letter-spacing: 0;
  line-height: 44px;
  margin-top: 26px;
  min-width: 219px;
  text-align: center;
  white-space: nowrap;
}

.volunteer-experience .section-3-experience-qualifications {
  letter-spacing: 0;
  line-height: 44px;
  margin-left: 3.0px;
  margin-top: 54px;
  min-height: 132px;
  min-width: 238px;
  text-align: center;
}

.volunteer-experience .the-answers-you-give {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 25px;
  margin-right: 1.0px;
  margin-top: 56px;
  min-height: 225px;
  text-align: center;
  width: 306px;
}

.volunteer-experience .group-container {
  height: 93px;
  margin-right: 5.0px;
  margin-top: 76px;
  position: relative;
  width: 246px;
}

.volunteer-experience .group-186 {
  background-color: var(--cararra);
  height: 92px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 245px;
}

.volunteer-experience .group-175 {
  align-items: center;
  background-color: var(--black);
  border-radius: 31px;
  display: flex;
  height: 62px;
  left: 153px;
  min-width: 62px;
  padding: 0 19px;
  position: absolute;
  top: 12px;
}

.volunteer-experience .arrowright-md {
  height: 24px;
  width: 24px;
}

.volunteer-experience .overlap-group {
  height: 92px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 163px;
}

.volunteer-experience .rectangle-153 {
  background-color: var(--cararra);
  height: 92px;
  left: 26px;
  position: absolute;
  top: 0;
  width: 127px;
}

.volunteer-experience .continue-to-experience-qualifications {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 500;
  left: 0;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 163px;
}

.volunteer-experience .rectangle-26 {
  border: 1px solid;
  border-color: var(--black);
  height: 1px;
  margin-top: 127px;
  width: 375px;
}
