:root { 
  --alto: #d9d9d980;
  --black: #000000;
  --gray: #808080;
  --gray-2: #7f7f7f;
  --malachite: #09d85fbf;
  --white: #ffffff;
 
  --font-size-m: 34px;
  --font-size-s: 32px;
  --font-size-xs: 20px;
  --font-size-xxs: 16px;
  --font-size-xxxs: 15px;
  --font-size-xxxxs: 14px;
  --font-size-xxxxxs: 13px;
 
  --font-family-poppins: "Poppins", Helvetica;
}
.poppins-medium-gray-16px {
  color: var(--gray);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 500;
}

.poppins-medium-black-20px {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}

.poppins-medium-black-34px {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
}

.poppins-medium-gray-18px {
  color: var(--gray);
  font-family: var(--font-family-poppins);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

.poppins-medium-gray-15px {
  color: var(--gray);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 500;
}

.poppins-medium-gray-14px {
  color: var(--gray);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxxs);
  font-style: normal;
  font-weight: 500;
}

.poppins-medium-white-16px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 500;
}

.poppins-normal-black-20px {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.poppins-medium-gray-13px {
  color: var(--gray);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxxxs);
  font-style: normal;
  font-weight: 500;
}
