/* screen - volunteer-gender-pref */

.volunteer-gender-pref {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 812px;
  overflow: hidden;
  width: 375px;
}

.volunteer-gender-pref .volunteer-application {
  letter-spacing: 0;
  line-height: 44px;
  margin-top: 26px;
  min-width: 219px;
  text-align: center;
  white-space: nowrap;
}

.volunteer-gender-pref .select-the-gender-id {
  align-self: flex-end;
  letter-spacing: 0;
  line-height: 44px;
  margin-right: 2px;
  min-height: 132px;
  min-width: 349px;
  text-align: center;
}

.volunteer-gender-pref .select-all-that-apply {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: 25px;
  margin-left: 29.0px;
  margin-top: 20px;
  min-height: 30px;
  text-align: center;
  white-space: nowrap;
  width: 306px;
}

.volunteer-gender-pref .overlap-group-container-1 {
  align-items: flex-start;
  display: flex;
  gap: 46px;
  margin-right: 7.0px;
  margin-top: 22px;
  min-width: 320px;
}

.volunteer-gender-pref .overlap-group5 {
  background-color: var(--alto);
  min-width: 137px;
  padding: 6px 25px;
}

.volunteer-gender-pref .place {
  letter-spacing: 0;
  line-height: 44px;
  text-align: center;
  white-space: nowrap;
  width: 83px;
}

.volunteer-gender-pref .overlap-group1 {
  background-color: var(--alto);
  justify-content: flex-end;
  min-width: 137px;
  padding: 6px 31px;
}

.volunteer-gender-pref .woman {
  letter-spacing: 0;
  line-height: 44px;
  min-width: 73px;
  text-align: center;
  white-space: nowrap;
}

.volunteer-gender-pref .overlap-group-container {
  align-items: flex-start;
  display: flex;
  gap: 45px;
  margin-right: 6.0px;
  margin-top: 27px;
  min-width: 319px;
}

.volunteer-gender-pref .overlap-group2 {
  background-color: var(--alto);
  min-width: 137px;
  padding: 6px 29px;
}

.volunteer-gender-pref .agender {
  letter-spacing: 0;
  line-height: 44px;
  min-width: 78px;
  text-align: center;
  white-space: nowrap;
}

.volunteer-gender-pref .overlap-group3 {
  background-color: var(--alto);
  min-width: 137px;
  padding: 6px 16px;
}

.volunteer-gender-pref .non-binary {
  letter-spacing: 0;
  line-height: 44px;
  min-width: 105px;
  text-align: center;
  white-space: nowrap;
}

.volunteer-gender-pref .overlap-group6 {
  background-color: var(--alto);
  justify-content: flex-end;
  min-width: 137px;
  padding: 6px 10px;
}

.volunteer-gender-pref .transfeminine {
  letter-spacing: 0;
  line-height: 44px;
  min-width: 116px;
  text-align: center;
  white-space: nowrap;
}

.volunteer-gender-pref .overlap-group4 {
  background-color: var(--alto);
  justify-content: flex-end;
  min-width: 137px;
  padding: 6px 3px;
}

.volunteer-gender-pref .transmasculine {
  letter-spacing: 0;
  line-height: 44px;
  min-width: 130px;
  text-align: center;
  white-space: nowrap;
}

.volunteer-gender-pref .group-176 {
  align-items: flex-start;
  display: flex;
  margin-right: 4.0px;
  margin-top: 27px;
  min-width: 137px;
}

.volunteer-gender-pref .overlap-group {
  background-color: #09d85fbf;
  justify-content: flex-end;
  min-width: 135px;
  padding: 7px 24px;
}

.volunteer-gender-pref .all-of-the-above {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 500;
  letter-spacing: 0;
  line-height: 25px;
  min-height: 40px;
  text-align: center;
  width: 86px;
}

.volunteer-gender-pref .group-container {
  align-items: flex-start;
  display: flex;
  gap: 217px;
  margin-left: 2.0px;
  margin-top: 35px;
  min-width: 341px;
}

.volunteer-gender-pref .group-188 {
  align-items: flex-start;
  background-color: var(--black);
  border-radius: 31px;
  display: flex;
  height: 62px;
  min-width: 62px;
  padding: 18.6px;
}

.volunteer-gender-pref .arrowright-md {
  height: 25px;
  width: 25px;
}

.volunteer-gender-pref .group-175 {
  align-items: center;
  background-color: var(--black);
  border-radius: 31px;
  display: flex;
  height: 62px;
  min-width: 62px;
  padding: 0 19px;
}

.volunteer-gender-pref .rectangle-26 {
  border: 1px solid;
  border-color: var(--black);
  height: 1px;
  margin-top: 149px;
  width: 375px;
}

.volunteer-gender-pref .overlap {
  align-items: flex-start;
  display: flex;
  height: 58px;
}
