/* screen - appointment-view */

.appointment-view {
  align-items: flex-start;
  display: flex;
  min-width: 375px;
}

.appointment-view .detail-page {
  background-color: var(--white);
  height: 812px;
  position: relative;
  width: 375px;
}

.appointment-view .your-appointments {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: 18px;
  font-weight: 500;
  left: 21px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 112px;
}

.appointment-view .number {
  color: var(--malachite);
  font-family: var(--font-family-poppins);
  font-size: 52px;
  font-weight: 500;
  left: 20px;
  letter-spacing: 0;
  line-height: 60px;
  position: absolute;
  top: 160px;
  white-space: nowrap;
}

.appointment-view .sessions-are-schedul {
  color: #959595;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 500;
  left: 68px;
  letter-spacing: 0;
  line-height: 13px;
  position: absolute;
  top: 183px;
}

.appointment-view .frame-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 46px;
  left: 20px;
  min-height: 482px;
  position: absolute;
  top: 240px;
  width: 335px;
}

.appointment-view .frame {
  align-items: center;
  background-color: var(--cultured-pearl);
  display: flex;
  gap: 97px;
  height: 130px;
  padding: 10px;
  position: relative;
  width: 335px;
}

.appointment-view .group-201-1 {
  height: 80px;
  position: relative;
  width: 163px;
}

.appointment-view .frame-53 {
  align-items: center;
  display: inline-flex;
  gap: 10px;
  left: 0;
  position: absolute;
  top: 0;
}

.appointment-view .frame-50 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  position: relative;
}

.appointment-view .name {
  letter-spacing: 0;
  line-height: 15px;
  margin-top: -1.00px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.appointment-view .group-200-1 {
  height: 60px;
  left: 0;
  position: absolute;
  top: 20px;
  width: 163px;
}

.appointment-view .view-screening-results {
  height: 60px;
  left: 0;
  letter-spacing: -0.28px;
  line-height: 15px;
  position: absolute;
  top: -1px;
}

.appointment-view .day-november-1 {
  height: 30px;
  left: 0;
  letter-spacing: -0.28px;
  line-height: 15px;
  position: absolute;
  top: 19px;
}

.appointment-view .group-201 {
  height: 80px;
  position: relative;
  width: 160px;
}

.appointment-view .group-200 {
  height: 100px;
  left: 0;
  position: absolute;
  top: 20px;
  width: 160px;
}

.appointment-view .group-189 {
  align-items: flex-end;
  background-color: var(--black);
  border-radius: 31px;
  display: flex;
  height: 62px;
  left: 21px;
  min-width: 62px;
  padding: 18.6px 18.6px;
  position: absolute;
  top: 35px;
}
