/* screen - choose-your-gender-3 */

.choose-your-gender-3 {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 812px;
  overflow: hidden;
  width: 375px;
}

.choose-your-gender-3 .volunteer-application {
  letter-spacing: 0;
  line-height: 44px;
  margin-top: 26px;
  min-width: 219px;
  text-align: center;
  white-space: nowrap;
}

.choose-your-gender-3 .section-2-demographic-questions {
  letter-spacing: 0;
  line-height: 44px;
  margin-left: 6.0px;
  margin-top: 41px;
  min-height: 132px;
  min-width: 245px;
  text-align: center;
}

.choose-your-gender-3 .the-answers-you-give {
  letter-spacing: 0;
  line-height: 25px;
  margin-left: 7.0px;
  margin-top: 31px;
  min-height: 225px;
  min-width: 360px;
  text-align: center;
}

.choose-your-gender-3 .group-container {
  height: 94px;
  margin-right: 26.0px;
  margin-top: 110px;
  position: relative;
  width: 245px;
}

.choose-your-gender-3 .group-176 {
  background-color: var(--cararra);
  cursor: pointer;
  height: 92px;
  left: 0;
  position: absolute;
  top: 2px;
  width: 245px;
}

.choose-your-gender-3 .overlap-group {
  height: 92px;
  left: 14px;
  position: absolute;
  top: 0;
  width: 163px;
}

.choose-your-gender-3 .rectangle-153 {
  background-color: var(--cararra);
  height: 92px;
  left: 26px;
  position: absolute;
  top: 0;
  width: 127px;
}

.choose-your-gender-3 .continue-to-demographic-questions {
  left: 0;
  letter-spacing: 0;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 163px;
}

.choose-your-gender-3 .group-175 {
  align-items: center;
  background-color: var(--black);
  border-radius: 31px;
  display: flex;
  height: 62px;
  left: 173px;
  min-width: 62px;
  padding: 0 19px;
  position: absolute;
  top: 15px;
}

.choose-your-gender-3 .arrowright-md {
  height: 24px;
  width: 24px;
}

.choose-your-gender-3 .rectangle-26 {
  border: 1px solid;
  border-color: var(--black);
  height: 1px;
  margin-top: 130px;
  width: 375px;
}
