/* screen - confirm-christina */

.confirm-christina {
  align-items: flex-start;
  background-color: var(--white);
  display: flex;
  height: 812px;
  padding: 35px 17px;
  width: 375px;
}

.confirm-christina .overlap-group3 {
  height: 456px;
  position: relative;
  width: 336px;
}

.confirm-christina .overlap-group1 {
  height: 441px;
  left: 0;
  position: absolute;
  top: 15px;
  width: 336px;
}

.confirm-christina .overlap-group2 {
  height: 424px;
  left: 0;
  position: absolute;
  top: 0;
  width: 336px;
}

.confirm-christina .frame-41 {
  background-color: var(--cultured-pearl);
  height: 318px;
  left: 0;
  position: absolute;
  top: 106px;
  width: 335px;
}

.confirm-christina .image-2 {
  left: 217px;
  top: 4px;
}

.confirm-christina .group-235 {
  align-items: flex-start;
  cursor: pointer;
  height: 43px;
  left: 96px;
  min-width: 124px;
  top: 346px;
}

.confirm-christina .overlap-group {
  align-items: flex-start;
  background-color: var(--malachite);
  display: flex;
  height: 43px;
  min-width: 122px;
  padding: 7.2px 0;
}

.confirm-christina .confirm-appointment {
  letter-spacing: 0;
  line-height: 15px;
  min-height: 19px;
  text-align: center;
  width: 122px;
}

.confirm-christina .image-4 {
  left: 218px;
  top: 0;
}

.confirm-christina .psychologist-would-y {
  left: 16px;
  letter-spacing: -0.28px;
  line-height: 15px;
  position: absolute;
  top: 120px;
  width: 311px;
}

.confirm-christina .group-189 {
  align-items: center;
  background-color: var(--black);
  border-radius: 31px;
  height: 62px;
  left: 4px;
  min-width: 62px;
  padding: 0 18.6px;
  top: 0;
}

.confirm-christina .group {
  display: flex;
  position: absolute;
}

.confirm-christina .image {
  height: 147px;
  object-fit: cover;
  position: absolute;
  width: 118px;
}
