/* screen - frame-57 */

.frame-57 {
  align-items: flex-start;
  display: flex;
  min-width: 375px;
}

.frame-57 .detail-page {
  background-color: var(--white);
  height: 300px;
  position: relative;
  width: 375px;
}

.frame-57 .client-joe-smith {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxl);
  font-weight: 500;
  left: 24px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 123px;
}

.frame-57 .frame-41 {
  background-color: #E4DDDD;
  height: 700px;
  left: 12px;
  position: absolute;
  top: 169px;
  width: 347px;
}

.frame-57 .frame-4122 {
  background-color: #E4DDDD;
  height: 300px;
  left: 12px;
  position: absolute;
  top: 169px;
  width: 347px;
}

.frame-57 .group-189 {
  align-items: flex-end;
  background-color: var(--black);
  border-radius: 31px;
  display: flex;
  height: 62px;
  left: 21px;
  min-width: 62px;
  padding: 18.6px 18.6px;
  position: absolute;
  top: 35px;
}

.frame-57 .ptsd-screening-resul {
  background-color: #E4DDDD;
  color: #E4DDDD;
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xxxl);
  font-weight: 500;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 187px;
  width: 326px;
}

.frame-57 .span0 {
  color: var(--black);
}

.frame-57 .span4 {
  color: var(--black);
  font-size: 13px;
}
