/* screen - patient-sign-up */

.patient-sign-up {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  height: 812px;
  overflow: hidden;
  width: 375px;
}

.patient-sign-up .title {
  align-self: flex-start;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 20px;
  margin-top: 146px;
  min-height: 39px;
}

.patient-sign-up .frame-21 {
  background-color: var(--gray-nurse);
  gap: 10px;
  height: 51px;
  margin-top: 60px;
  padding: 10px 20px;
}

.patient-sign-up .by-continuing-you-a {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 19px;
  min-height: 36px;
  min-width: 259px;
  text-align: center;
}

.patient-sign-up .frame-2 {
  background-color: var(--malachite);
  cursor: pointer;
  gap: 10px;
  justify-content: center;
  margin-top: 31px;
  padding: 15px 10px;
}

.patient-sign-up .or-continue-with {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 29px;
  min-height: 18px;
  min-width: 99px;
}

.patient-sign-up .frame-23 {
  background-color: var(--seashell);
  gap: 10px;
  justify-content: center;
  margin-top: 31px;
  padding: 15px 10px;
}

.patient-sign-up .group-container {
  align-items: flex-start;
  align-self: flex-start;
  display: flex;
  gap: 93px;
  height: 82px;
  margin-top: 46px;
  min-width: 350px;
}

.patient-sign-up .overlap-group {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-height: 62px;
  width: 195px;
}

.patient-sign-up .already-have-an-account {
  align-self: center;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 19px;
  min-height: 15px;
  min-width: 155px;
  position: relative;
}

.patient-sign-up .sign-in {
  cursor: pointer;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 20px;
  min-height: 22px;
}

.patient-sign-up .group-188 {
  align-items: flex-end;
  align-self: flex-end;
  background-color: var(--black);
  border-radius: 31px;
  cursor: pointer;
  display: flex;
  height: 62px;
  min-width: 62px;
  padding: 18.6px 18.6px;
}

.patient-sign-up .group-64 {
  align-items: flex-end;
  align-self: flex-start;
  background-color: var(--white);
  display: flex;
  height: 34px;
  margin-left: -375px;
  margin-top: 26px;
  min-width: 375px;
  padding: 14px 118px;
}

.patient-sign-up .home-indicator {
  background-color: var(--black);
  border-radius: 100px;
  height: 5px;
  width: 139px;
}
