/* screen - volunteer-thanks */

.volunteer-thanks {
  background-color: #ffffff;
  height: 812px;
  opacity: 1;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}

.volunteer-thanks .group-176-C61RwL {
  --z-index: 0;
  background-color: transparent;
  height: 92px;
  left: 65px;
  opacity: 1;
  position: absolute;
  top: 607px;
  width: 245px;
}

.volunteer-thanks .rectangle-153-jxV5iz {
  --z-index: 0;
  background-color: #ececec;
  height: 92px;
  left: 0px;
  opacity: 1;
  position: relative;
  top: 0px;
  width: 245px;
}

.volunteer-thanks .thank-you-C61RwL {
  --z-index: 1;
  background-color: transparent;
  color: #000000;
  font-family: 'Poppins', Helvetica;
  font-size: 34px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 135px;
  letter-spacing: 0.00px;
  line-height: 44px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 106px;
  white-space: nowrap;
  width: auto;
}

.volunteer-thanks .your-information-has-C61RwL {
  --z-index: 2;
  background-color: transparent;
  color: #000000;
  font-family: 'Poppins', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 12px;
  letter-spacing: 0.00px;
  line-height: 25px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 198px;
  width: auto;
}

.volunteer-thanks .group-175-C61RwL {
  --z-index: 3;
  background-color: transparent;
  cursor: pointer;
  height: 62px;
  left: 230px;
  opacity: 1;
  position: absolute;
  top: 622px;
  width: 62px;
}

.volunteer-thanks .ellipse-98-CtRApj {
  --z-index: 0;
  background-color: #000000;
  border-radius: 31px;
  height: 62px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 62px;
}

.volunteer-thanks .arrowright-md-CtRApj {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/arrow-right-md-2.svg);
  background-size: 100% 100%;
  height: 24px;
  left: 19px;
  opacity: 1;
  position: absolute;
  top: 19px;
  width: 24px;
}

.volunteer-thanks .grinning-face-with-smiling-eyes-C61RwL {
  --z-index: 4;
  background-color: transparent;
  height: 80px;
  left: 28px;
  opacity: 1;
  position: absolute;
  top: 89px;
  width: 80px;
}

.volunteer-thanks .grinning-face-with-smiling-eyes-W8Oq9U {
  --z-index: 0;
  background-color: transparent;
  background-image: url(../img/grinning-face-with-smiling-eyes.png);
  background-size: 100% 100%;
  height: 80px;
  left: 0px;
  object-fit: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 80px;
}

.volunteer-thanks .ellipse-101-C61RwL {
  --z-index: 5;
  background-color: transparent;
  border: 25px dashed;
  border-color: #9c9c9c;
  border-radius: 278px;
  height: 556px;
  left: -90px;
  opacity: 1;
  position: absolute;
  top: 525px;
  width: 556px;
}

.volunteer-thanks .ellipse-102-C61RwL {
  --z-index: 6;
  background-color: transparent;
  background-image: url(../img/ellipse-102.svg);
  background-size: 100% 100%;
  height: 87px;
  left: 6px;
  opacity: 1;
  position: absolute;
  top: 525px;
  width: 183px;
}

.volunteer-thanks .group-185-C61RwL {
  --z-index: 7;
  background-color: transparent;
  height: 92px;
  left: 67px;
  opacity: 1;
  position: absolute;
  top: 607px;
  width: 165px;
}

.volunteer-thanks .rectangle-153-hrEtUG {
  --z-index: 0;
  background-color: #ececec;
  height: 92px;
  left: 24px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 127px;
}

.volunteer-thanks .continue-to-profile-home-hrEtUG {
  --z-index: 1;
  background-color: transparent;
  color: #000000;
  font-family: 'Poppins', Helvetica;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 25px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 10px;
  width: 163px;
}

.volunteer-thanks .volunteer-application-C61RwL {
  --z-index: 8;
  background-color: transparent;
  color: #000000;
  font-family: 'Poppins', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 78px;
  letter-spacing: 0.00px;
  line-height: 44px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 26px;
  white-space: nowrap;
  width: auto;
}
/* screen - volunteer-prof-bio */

.volunteer-prof-bio {
  background-color: #ffffff;
  height: 812px;
  opacity: 1;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 375px;
}

.volunteer-prof-bio .optional-professional-bio-C61RwL {
  --z-index: 0;
  background-color: transparent;
  color: #000000;
  font-family: 'Poppins', Helvetica;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 65px;
  letter-spacing: 0.00px;
  line-height: 44px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 97px;
  width: auto;
}

.volunteer-prof-bio .rectangle-157-C61RwL {
  --z-index: 1;
  background-color: #ffffff;
  border: 1px solid;
  border-color: #7f7f7f;
  border-radius: 6px;
  height: 225px;
  left: 55px;
  opacity: 1;
  position: absolute;
  top: 368px;
  width: 273px;
}

.volunteer-prof-bio .this-information-wil-C61RwL {
  --z-index: 2;
  background-color: transparent;
  color: #000000;
  font-family: 'Poppins', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 33px;
  letter-spacing: 0.00px;
  line-height: 25px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 209px;
  width: 306px;
}

.volunteer-prof-bio .skip-C61RwL {
  --z-index: 3;
  background-color: transparent;
  color: #000000;
  font-family: 'Poppins', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: auto;
  left: 277px;
  letter-spacing: 0.00px;
  line-height: 25px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 683px;
  width: 98px;
}

.volunteer-prof-bio .volunteer-application-C61RwL {
  --z-index: 4;
  background-color: transparent;
  color: #000000;
  font-family: 'Poppins', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  height: auto;
  left: 78px;
  letter-spacing: 0.00px;
  line-height: 44px;
  opacity: 1;
  position: absolute;
  text-align: center;
  top: 26px;
  white-space: nowrap;
  width: auto;
}

.volunteer-prof-bio .group-188-C61RwL {
  --z-index: 5;
  background-color: transparent;
  cursor: pointer;
  height: 62px;
  left: 18px;
  opacity: 1;
  position: absolute;
  top: 622px;
  width: 62px;
}

.volunteer-prof-bio .ellipse-98-hafjmE {
  --z-index: 0;
  background-color: #000000;
  border-radius: 31px;
  height: 62px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 62px;
}

.volunteer-prof-bio .arrowright-md-hafjmE {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/arrow-right-md-1.svg);
  background-size: 100% 100%;
  height: 25px;
  left: 19px;
  opacity: 1;
  position: absolute;
  top: 19px;
  width: 25px;
}

.volunteer-prof-bio .group-175-C61RwL {
  --z-index: 6;
  background-color: transparent;
  height: 62px;
  left: 297px;
  opacity: 1;
  position: absolute;
  top: 622px;
  width: 62px;
}

.volunteer-prof-bio .ellipse-98-CtRApj {
  --z-index: 0;
  background-color: #000000;
  border-radius: 31px;
  height: 62px;
  left: 0px;
  opacity: 1;
  position: absolute;
  top: 0px;
  width: 62px;
}

.volunteer-prof-bio .arrowright-md-CtRApj {
  --z-index: 1;
  background-color: transparent;
  background-image: url(../img/arrow-right-md-2.svg);
  background-size: 100% 100%;
  height: 24px;
  left: 19px;
  opacity: 1;
  position: absolute;
  top: 19px;
  width: 24px;
}
